*~
*.a
*.d
*.diff
*.orig
*.rej
*.dll*
*.exe
*.def
*.lib
*.pdb
*.mo
*.o
*.patch
*.pc
*.pot
*.so*
*.dylib
.*.swp
.depend
.DS_Store
TAGS
config.h
config.mak
config.log
x264_config.h
x264
checkasm

*.264
*.h264
*.2pass
*.ffindex
*.avs
*.mkv
*.flv
*.mp4
*.y4m
*.yuv
*.log
*.mbtree
*.temp
*.pyc
*.pgd
*.pgc

.digress_x264
dataDec.txt
log.dec
common/oclobj.h
x264_lookahead.clbin

.zig-cache/
zig-out/
/release/
/debug/
/build/
/build-*/
/docgen_tmp/
images/
videos/
bin/
**/*.DS_Store
test_output/

# Although this was renamed to .zig-cache, let's leave it here for a few
# releases to make it less annoying to work with multiple branches.
zig-cache/
release_assets/
